<?php/*项目详情页面*/?>
<include file="Pub:header"/>

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="" class="current">修改密码</a>
        </div>
    </div>
    <div class="container-fluid"><hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-pencil"></i> </span>
                        <h5>修改密码</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="{:U('Index/editpwd')}" id="form-wizard" class="form-horizontal" method="post">

                            <div id="form-wizard-1" class="step">

                                <div class="control-group">
                                    <label class="control-label">用户名:</label>
                                    <div class="controls">
                                        <input id="username"  readonly="readonly" value="{$Think.session.managerInfo.name}" type="text" name="username" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">旧密码:</label>
                                    <div class="controls">
                                        <input id="password" type="password" name="oldPw" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">新密码:</label>
                                    <div class="controls">
                                        <input id="password2" type="password" name="newPw1" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">确认密码:</label>
                                    <div class="controls">
                                        <input id="password3" type="password" name="newPw2" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <input id="next" class="btn btn-danger" type="submit" value="修改" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<include file="Pub:footer"/>