<?php/*项目详情页面*/?>
<include file="Pub:header"/>

<!--弹窗提示框 开始-->
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">提示信息</h3>
    </div>
    <div class="modal-body">
        <p class="error-text" id="dialogMessage">确认禁用该账户？</p>
    </div>
    <div class="modal-footer">
        <button class="btn" id="dialogCancelButton" onclick="dialogCancle()" data-dismiss="modal" aria-hidden="true">取消</button>
        <button  id="dialogEnsureButton" onclick="dialogEnsure()" class="btn btn-danger">确认</button>
    </div>
</div>
<!--弹窗提示框 结束-->
<!--onkeydown="if(event.keyCode==13)return false;"-->

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a>新闻管理</a>
            <a href="" class="current">添加新闻</a>
        </div>
    </div>


    <div class="container-fluid" >
        <div class="row-fluid" style="margin-top: 0px;">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG1">
                        <span class="icon"><i class="icon-chevron-down"></i></span>
                        <!--<button class="btn btn-success">返回用户列表</button>-->
                        <h5   >
                            <li class=" icon-plus" style="margin-right: 10px;"></li>
                            <span >添加新闻</span>
                        </h5>
                    </div>

                    <div  class="widget-content nopadding in collapse" id="collapseG1" style="height: auto;">

                        <form action="{:U('News/addNews')}"  method="post"  >

                            <div class="control-group" >
                                <div style="text-align: center;margin-left: 10px;margin-right: 10px;">
                                    <img id="smallpicImg" style="margin-top: 10px;margin-bottom: 10px;" alt="新闻缩略图" src="{$newsInfo['smallpic']}" >
                                    <hr>
                                </div>
                            </div>

                            <div class="control-group" style="margin-left: 10px;margin-right: 10px;">
                                <label >
                                    <span style="color: #27A9E3;margin-right: 10px;">
                                        <strong><li class=" icon-picture" style="margin-right: 10px;"></li>缩略图地址:</strong>
                                    </span>
                                    <input id="smallpic" onkeyup="smallpicChange()" style="width: 80%;" value="{$newsInfo['smallpic']}" type="text" name="smallpic" />
                                </label>
                                <hr>
                            </div>

                            <div class="control-group" style="margin-left: 10px;margin-right: 10px;">
                                <label >
                                    <span style="color: #27A9E3;margin-right: 10px;">
                                        <strong><li class="icon-tags" style="margin-right: 10px;"></li>标题:</strong>
                                    </span>
                                    <input id="title"  style="width: 80%;" value="{$newsInfo['title']}" type="text" name="title" />
                                </label>
                                <hr>
                            </div>

                            <div class="control-group" style="margin-left: 10px;margin-right: 10px;">
                                <label >
                                    <span style="color: #27A9E3;margin-right: 10px;">
                                        <strong><li class=" icon-time" style="margin-right: 10px;"></li>时间:</strong>
                                    </span>
                                    <div class="input-append date form_datetime">
                                        <input id="time" class="inputTime" name="time" title="时间"  size="16" type="text" value="{$newsInfo['time']}">
                                        <span class="add-on"><i class="icon-remove"></i></span>
                                        <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                </label>
                                <hr>
                            </div>

                            <div class="control-group" style="margin-left: 10px;margin-right: 10px;">
                                <label >
                                    <span style="color: #27A9E3;margin-right: 10px;">
                                        <strong><li class="icon-linkedin-sign" style="margin-right: 10px;"></li>来源:</strong>
                                    </span>
                                    <input id="source"  style="width: 20%;" value="{$newsInfo['source']}" type="text" name="source" />
                                </label>
                                <hr>
                            </div>

                            <div  class="controls" style="margin-left: 10px;margin-right: 10px;">
                                <label >
                                     <span style="color: #27A9E3;margin-right: 10px;">
                                        <strong><li class=" icon-list" style="margin-right: 10px;"></li>类型:</strong>
                                    </span>
                                    <select id="selectedItem" name="newsType" style="width:150px;margin-right: 10px;"  >
                                        <volist name="selectList" id="vo" key="k">
                                            <option <if condition="$k eq 1">selected</if>  value="{$vo.value}">{$vo.name}</option>
                                        </volist>
                                    </select>
                                </label>
                                <hr>
                            </div>


                            <div class="widget-box" style="margin-left: 10px;margin-right: 10px;">
                                <div class="widget-title">
                                    <ul class="nav nav-tabs">
                                        <li class="active" onclick="showUi()"><a data-toggle="tab" href="#tab3">页面</a></li>
                                        <li><a data-toggle="tab" onclick="showCode()" href="#tab4">代码</a></li>
                                    </ul>
                                </div>
                                <div class="widget-content tab-content">
                                    <div id="tab3" class="tab-pane ">

                                    </div>

                                    <div id="tab4" class="tab-pane active" >
                                        <div class="control-group">
                                            <textarea  name="content" id="newsCon" class="span12" rows="20" placeholder="Enter text ...">{$newsInfo['content']}</textarea>
                                        </div>
                                        <div class="control-group">
                                            <button class="btn btn-success"  value="" onclick="return insertTag('<p> </p>')" >插入P标签</button>
                                            <button class="btn btn-success"  value="" onclick="return insertTag('<img> </img>')" >插入Img标签</button>
                                            <button class="btn btn-success"  value="" onclick="return emptyCon()" >清空</button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="control-group" style="margin-left: 10px;margin-right: 10px;">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <input id="next" class="btn btn-primary" type="submit" value="添加" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<include file="Pub:footer"/>

<script>
    function load()
    {
        //设置 标段名称 提示文字
        $( ".tooltip" ).tooltip();
    }

    //插入P、Img标签
    function insertTag(pre) {
        var content=$("#newsCon").val();
        content+="\r\n"+pre+"\r\n";
        $("#newsCon").val(content);
        return false;
    }


        //情况内容
    function emptyCon(){

        $("#newsCon").val("");
        return false;
    }


    //显示新闻 图形化页面
    function showUi()
    {
        $("#tab3").empty();

        var alertInfo='<span class="badge badge-important">新闻内容格式有误！</span>';
        $("#tab3").append(alertInfo);

        var content="<content>"+$("#newsCon").val()+"</content>";

        var xmlDoc = $.parseXML( content );

        $("#tab3").empty();

        var x=xmlDoc.documentElement.childNodes;

        for (var i=0;i<x.length;i++)
        {
            if (x[i].nodeType==1)
            {
                var type=x[i].nodeName;
                var value=x[i].childNodes[0].nodeValue;
                if(type=='p')
                {
                    var con='<p>'+value+'</p>';

                }else
                {
                    var con='<img  style="margin-top: 10px;margin-bottom: 10px;" alt="新闻内容图片" src="'+value+'" >';

                }
                $("#tab3").append(con);
            }
        }
    }

    //设置时间选择器的属性
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
        language:"zh-CN",
        todayBtn:"linked"
    });

    //格式化时间
    $('.inputTime').onpropertychange(
            str=$('#starTime').val(),
            str=str.replace('+',' '),
            $('#starTime').val(str),
            str=$('#endTime').val(),
            str=str.replace('+',' '),
            $('#endTime').val(str)
    );

    //新闻缩略图地址改变时更新图片显示
    function smallpicChange(){

        var url=$('#smallpic').val();
        $('#smallpicImg').attr("src",url);
    }

</script>

