<!DOCTYPE html>
<html lang="zh">
<head>
    <title>蹲客后台管理系统</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.gritter.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />

    <link href="__PUBLIC__/Admin/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">


    <link type="text/css" href="__PUBLIC__/Admin/css/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <!--<link type="text/css" href="__PUBLIC__/Admin/css/font-awesome.min.css" rel="stylesheet" />-->
    <!--<link href="__PUBLIC__/Admin/css/docs.css" rel="stylesheet">-->
    <link href="__PUBLIC__/Admin/css/prettify.css" rel="stylesheet">

</head>
<body onload="load()">

<!--Header-part-->
<div id="header">
    <h1><a href="">蹲客后台管理系统</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">你好 {$Think.session.managerInfo.name}</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{:U('Index/editpwd')}"><i class="icon-edit"></i>修改密码</a></li>
            </ul>
        </li>
        <li class=""><a title="" href="{:U('Index/logout')}"><i class="icon icon-share-alt"></i> <span class="text">退出登录</span></a></li>
    </ul>
</div>

<!--close-top-Header-menu-->

<include file="Pub:sidebar_menu"/>

