<!--sidebar-menu-->
<div id="sidebar">
	<a href="{:U('Index/index')}" class="visible-phone"><i class="icon icon-home"></i>首頁</a>
	<ul>
		<li <eq name="module_name" value="index">class="active"</eq>>
			<a href="{:U('Index/index')}"><i class="icon icon-home"></i><span>首頁</span></a>
		</li>

		<li class='submenu optn <eq name="module_name" value="user">active open</eq>'>
			<a href="javascript:;">
				<i class="icon icon-user"></i>
				<span>用户管理</span>
				<span class="label label-important">3</span>
			</a>
			<ul>
				<li>
					<a href="{:U('User/userList')}">用户列表</a>
				</li>
				<li>
					<a href="{:U('User/userLoginLog')}">登陆记录</a>
				</li>
				<li>
					<a href="{:U('User/pointLog')}">积分记录</a>
				</li>
			</ul>
		</li>

		<li class='submenu optn <eq name="module_name" value="forecast">active open</eq>'>
			<a href="javascript:;">
				<i class="icon icon-map-marker"></i>
				<span>公厕管理</span>
				<span class="label label-important">2</span>
			</a>
			<ul>
				<li>
					<a href="{:U('Forecast/index')}">公厕列表</a>
				</li>
                <li>
                    <a href="{:U('Forecast/index')}">公厕评论</a>
                </li>
			</ul>
		</li>

		<li class='submenu optn <eq name="module_name" value="news">active open</eq>'>
			<a href="javascript:;">
				<i class="icon icon-th-list"></i>
				<span>新闻管理</span>
				<span class="label label-important">4</span>
			</a>
			<ul>
				<li>
					<a href="{:U('News/newsList')}">新闻列表</a>
				</li>
                <li>
                    <a href="{:U('News/addNews')}">添加新闻</a>
                </li>
                <li>
                    <a href="{:U('News/newsTypeList')}">栏目管理</a>
                </li>
                <li>
                    <a href="{:U('News/newsComList')}">评论列表</a>
                </li>
			</ul>
		</li>

		<li class='submenu optn <eq name="module_name" value="build">active open</eq>'>
			<a href="javascript:;">
				<i class="icon icon-road"></i>
				<span>反馈管理</span>
				<span class="label label-important">1</span>
			</a>
			<ul>
				<li>
					<a href="{:U('Build/index')}">反馈列表</a>
				</li>
			</ul>
		</li>

		<li class='submenu optn <eq name="module_name" value="power">active open</eq>'>
			<a href="javascript:;">
				<i class="icon icon-wrench"></i>
				<span>权限管理</span>
				<span class="label label-important">1</span>
			</a>
			<ul>
				<li>
					<a href="{:U('Power/index')}">角色管理</a>
				</li>
			</ul>
		</li>


  </ul>

  <!--<ul>-->
		<!--<li <eq name="module_name" value="index">class="active"</eq>>-->
			<!--<a href="{:U('Index/index')}"><i class="icon icon-home"></i><span>首頁</span></a>-->
		<!--</li>-->
		<!--<volist name="menu" id="vl">-->
			<!--<if condition="$vl['pid'] eq 0">-->
			<!--<li class='submenu optn <eq name="module_name" value="$vl.active">active open</eq>'>-->
			<!--</if>-->
				<!--<a href="javascript:;">-->
				<!--<if condition="$vl['pid'] eq 0">-->
					<!--<i class="icon {$vl['class']}"></i>-->
					<!--<span>{$vl['name']}</span>-->
					<!--<span class="label label-important">{$vl['count']}</span>-->
					<!--</if>-->
				<!--</a>-->
				<!--<ul>-->
					<!--<volist name="menu" id="vo">-->
					<!--<if condition="$vl['id'] eq $vo['pid']">-->
						<!--<li>-->
							<!--<a href="{:U($vo['model'].'/'.$vo['action'])}">{$vo['name']}</a>-->
						<!--</li>-->
					<!--</if>-->
					<!--</volist>-->
				<!--</ul>	-->
			<!--</li>-->
		<!--</volist>-->
<!--</ul> -->
</div>

<!--close sidebar-menu-->