<?php/*项目详情页面*/?>
<include file="Pub:header"/>

<!--弹窗提示框 开始-->
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">提示信息</h3>
    </div>
    <div class="modal-body">
        <p class="error-text" id="dialogMessage">确认禁用该账户？</p>
    </div>
    <div class="modal-footer">
        <button class="btn" id="dialogCancelButton" onclick="dialogCancle()" data-dismiss="modal" aria-hidden="true">取消</button>
        <button  id="dialogEnsureButton" onclick="dialogEnsure()" class="btn btn-danger">确认</button>
    </div>
</div>
<!--弹窗提示框 结束-->

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a>用户管理</a>
            <a href="{:U('User/userlist')}" title="用户列表" class="tip-bottom"><i class="icon-group"></i>用户列表</a>
            <a href="" class="current">用户详情</a>
        </div>
    </div>



    <div class="container-fluid" >
        <div class="row-fluid" style="margin-top: 0px;">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG1">
                        <span class="icon"><i class="icon-chevron-down"></i></span>
                        <!--<button class="btn btn-success">返回用户列表</button>-->
                        <h5   >
                            <li class="icon-user" style="margin-right: 10px;"></li>
                            <span >{$userInfo['nickname']}</span>
                        </h5>
                    </div>

                    <div class="control-group" >
                        <label >
                            <a href="{:U("User/userList")}" class="btn btn-success">
                                <li  class="icon icon-chevron-left" style="margin-right: 10px;"></li>返回用户列表
                            </a>
                        </label>
                    </div>

                    <div  class="widget-content nopadding in collapse" id="collapseG1" style="height: auto;">
                        <div class="span4 offset4">
                                <div class="widget-content nopadding">
                                    <div style="text-align: center;">
                                        <img  style="width: 150px;height: 150px;margin-top: 10px;margin-bottom: 10px;" src="{$headIcoUrl}{$userInfo['headIco']}" >
                                        <hr>
                                    </div>


                                    <div class="control-group">
                                        <label >
                                            <span style="color: #27A9E3;margin-right: 10px;">
                                                <strong><li class="icon-bookmark" style="margin-right: 10px;"></li>ID号:</strong>
                                            </span>
                                            <span>{$userInfo['id']} </span>
                                        </label>
                                        <hr>
                                    </div>


                                    <div class="control-group">
                                        <label >
                                                <span style="color: #27A9E3;margin-right: 10px;">
                                                    <strong><li class="icon-key" style="margin-right: 10px;"></li>账号:</strong>
                                                </span>
                                            <span>{$userInfo['name']} </span>
                                        </label>
                                        <label style="text-align: center;">
                                            <if condition="$userInfo['isVerify'] eq 0">
                                                <span class="badge badge-important">邮箱还未验证!</span>
                                                <else/>
                                                <span class="badge  label-info">邮箱已验证!</span>
                                            </if>
                                        </label>
                                        <hr>
                                    </div>

                                    <div class="control-group">
                                        <label >
                                                    <span style="color: #27A9E3;margin-right: 10px;">
                                                        <strong><li class="icon-tags" style="margin-right: 10px;"></li>昵称:</strong>
                                                    </span>
                                            <span>{$userInfo['nickname']} </span>
                                            <if condition="$userInfo['countChangeName'] eq 0">
                                                <span class="badge  label-info">已锁定</span>
                                                <else/>
                                                <span class="badge badge-important" title="用户还可修改昵称">未锁定</span>
                                            </if>

                                        </label>
                                        <hr>
                                    </div>

                                    <div class="control-group">
                                        <label >
                                            <span style="color: #27A9E3;margin-right: 10px;">
                                                <strong><li class=" icon-time" style="margin-right: 10px;"></li>注册时间:</strong>
                                            </span>
                                            <span>{$userInfo['regdate']} </span>
                                        </label>
                                        <hr>
                                    </div>

                                    <div class="control-group">
                                        <label >
                                            <span style="color: #27A9E3;margin-right: 10px;">
                                                <strong><li class=" icon-cloud" style="margin-right: 10px;"></li>积分:</strong>
                                            </span>
                                            <span class="badge badge-warning">{$userInfo['points']} 坨粑粑</span>
                                            <a href="" style="border-radius: 15px;" class="btn btn-primary"><li class="icon icon-calendar" style="margin-right: 10px;"></li>查看积分记录</a>

                                        </label>
                                        <hr>
                                    </div>

                                    <div class="control-group">
                                        <label >
                                            <span style="color: #27A9E3;margin-right: 10px;">
                                                <strong><li class=" icon-dashboard" style="margin-right: 10px;"></li>等级:</strong>
                                            </span>
                                            <span class="badge badge-inverse">一级 粑粑</span>
                                        </label>
                                        <hr>
                                    </div>

                                    <div class="control-group">
                                        <label >
                                            <span style="color: #27A9E3;margin-right: 10px;">
                                                <strong><li class="  icon-pencil" style="margin-right: 10px;"></li>签名:</strong>
                                            </span>
                                        </label>
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;{$userInfo['personalNote']} </span>
                                        <hr>
                                    </div>

                                    <div class="control-group">
                                        <label >
                                            <span style="color: #27A9E3;margin-right: 10px;">
                                                <strong><li class="  icon-hand-up" style="margin-right: 10px;"></li>状态:</strong>
                                            </span>
                                            <span>
                                                <if condition="$userInfo['dataState'] eq 0">
                                                    <span id="stateSpan" class="badge badge-important">禁用中!</span>
                                                    <button id="stateBtn" onclick="unlockUser({$userInfo['id']})" style="border-radius: 15px;" class="btn btn-primary"><li id="stateLi" class="icon icon-unlock" style="margin-right: 10px;"></li>解除禁用</button>
                                                    <else/>
                                                    <span id="stateSpan" class="badge badge-info">使用中!</span>
                                                    <button id="stateBtn" onclick="lockUser({$userInfo['id']})" style="border-radius: 15px;" class="btn btn-danger"><li id="stateLi" class="icon icon-lock" style="margin-right: 10px;"></li>禁用账号</button>

                                                </if>
                                            </span>
                                        </label>
                                        <hr>
                                    </div>

                                    <div class="control-group" style="text-align: center;">
                                        <label >
                                            <form target="userLoginLog{$userInfo['id']}" name='form1' action="{:U('User/userLoginLog')}" method='post'>

                                                <input type='hidden' name="serachKey" value="{$userInfo['nickname']}"/>
                                                <input type='hidden' name="startTime" value="{$startTime}"/>
                                                <input type='hidden' name="endTime" value="{$endTime}"/>

                                                <a  href="javascript:document.form1.submit();" style="border-radius: 15px;" class="btn btn-success">
                                                    <li  class="icon icon-reorder" style="margin-right: 10px;"></li>查看登陆记录
                                                </a>
                                            </form>
                                        </label>
                                        <hr>
                                    </div>

                                </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!--<div class="container-fluid">-->
        <!--<div class="row-fluid">-->
            <!--<div style="  text-align: center;" class="span12">-->
                <!--<input id="moreUserList"  style=" width: 15%;background: rgb(46, 54, 63);" onclick="moreUserList()" class="btn btn-primary" type="button" value="显示更多" />-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>

<include file="Pub:footer"/>

<script>



function showDialog(model,message){

    if(model==1)//对话框模式1 只有确认按钮
    {
        $('#dialogCancelButton').css('display','none');
        $('#dialogEnsureButton').css('background','blue');
        $('#dialogMessage').html(message);

        $('.modal').modal('show').on('shown',function(){
        })
    }
    else if(model==2) //对话框模式2 带有 确认 和 取消 按钮
    {
        $('#myModal').modal('show')
        $('#dialogCancelButton').show();
        $('#dialogEnsureButton').css('background','blue');
        $('#dialogMessage').html(message);

        $('.modal').modal('show').on('shown',function(){
        })
    }
}

//禁止或解锁用户的flag
//0 为禁止 1为解锁
isLockOrUnLock=1;

//用户id号
userId=0;

//对话框 点击 确认 后的操作
function dialogEnsure()
{
    $('.modal').modal('hide');
    if(isLockOrUnLock==0)
    {
        $.ajax({
            url:'{:U("lockUser")}',
            type:'post',
            data:'id='+userId,
            success:function(e){

                if(e==1){

                    location.reload();

                }else{
                    return false;
                }
            }
        });
    }else
    {
        $.ajax({
            url:'{:U("unlockUser")}',
            type:'post',
            data:'id='+userId,
            success:function(e){

                if(e==1){

                    location.reload();

                }else{
                    return false;
                }
            }
        });
    }
}

//对话框 点击 取消 后的操作
function dialogCancle()
{

}

//禁止用户
function lockUser(id)
{
    showDialog(2,'确认禁止该账户?');
    isLockOrUnLock=0;
    userId=id;
}

//解锁用户
function unlockUser(id)
{
    showDialog(2,'确认解锁该账户?');
    isLockOrUnLock=1;
    userId=id;
}

</script>