<include file="Pub:header"/>


<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a>用户管理</a>
            <a href="" class="current">积分记录</a>
        </div>
    </div>

    <div class="container-fluid" style="background: salmon;">
        <div class="row-fluid" style="margin-top: 0px;">
            <div style="float: right;">
                <form action="{:U('User/pointLog')}" id="uploadForm"  class="form-horizontal" method="post">

                    <div  class="controls" style=" margin-left: 0px;">

                        <div class="input-append date form_datetime">
                            <span class="add-on" style="width: 80px;"><i class="icon-hand-right">开始时间</i></span>
                            <input id="starTime"  class="inputTime" name="startTime" title="开始时间"  size="16" type="text" value="{$startTime}">
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                        <div class="input-append date form_datetime">
                            <span class="add-on" style="width: 80px;"><i class="icon-hand-right">截止时间</i></span>
                            <input id="endTime" class="inputTime" name="endTime" title="截止时间"  size="16" type="text" value="{$endTime}">
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>

                        <input placeholder="请输入用户昵称或账号"  id="serachKey" value="{$serachKey}" type="text" name="serachKey" />

                        <!--<button  onclick="return checkInput()" style="border-radius: 15px;" class="btn btn-danger">查询</button>-->
                        <button class="btn btn-primary"  value="" onclick="return checkInput()" >查询</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">

                <div class="widget-box">
                    <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG2"><span class="icon"><i class="icon-chevron-down"></i></span>
                        <h5><i class="icon-th" style="margin-right: 10px;"></i>用户积分记录列表</h5>
                    </div>
                    <div class="widget-content nopadding in collapse" id="collapseG2" style="height: auto;width: 100%;">
                        <table class="table table-bordered data-table" >
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户账号</th>
                                <th>用户昵称</th>
                                <th>时间</th>
                                <th>动作</th>
                                <th>分值</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <volist name="pointLogList" id="vo" key="k">
                                <tr class="gradeX" >
                                    <td style="text-align: center;width: 10%;"><span class="badge">{$pIndex*$pCount+$k}</span></td>
                                    <td style="text-align: center;width: 20%;">{$vo.name}</td>
                                    <td style="text-align: center;width: 20%;">{$vo.nickname}</td>
                                    <td style="text-align: center;width: 15%;">{$vo.time}</td>
                                    <td style="text-align: center;width: 10%;">{$vo.about}</td>
                                    <td style="text-align: center;width: 5%;">{$vo.point}</td>
                                    <td  style="text-align: center;width: 20%;">

                                        <a style="float: left;margin-right: 5px;" target="detailUserInfo{$vo.id}"  href="{:U('User/detailUserInfo',array('id'=>$vo['id']))}" ><span class="badge badge-info"><li style="margin-right: 5px;" class="icon-user" title="查看用户详情"></li>用户详情</span></a>

                                        <switch name="vo.actionId">

                                            <case value="1">
                                                <a style="float: left;" target="loaction{$vo.id}"  href="http://m.amap.com/navi/?dest={$vo.longitude},{$vo.latitude}&destName={$vo.nickname} 在 {$vo.time} 的登陆地点&hideRouteIcon=1&key={$amap}" ><span class="badge badge-warning"><li style="margin-right: 5px;" class="icon-map-marker" title="公厕详情"></li>公厕详情</span></a>
                                            </case>

                                            <case value="2">
                                                <a  style="float: left;" target="loaction{$vo.id}"  href="http://m.amap.com/navi/?dest={$vo.longitude},{$vo.latitude}&destName={$vo.nickname} 在 {$vo.time} 的登陆地点&hideRouteIcon=1&key={$amap}" ><span class="badge badge-warning"><li style="margin-right: 5px;" class="icon-map-marker" title="公厕详情"></li>公厕详情</span></a>
                                            </case>

                                            <case value="3">
                                                <a style="float: left;" target="loaction{$vo.id}"  href="http://m.amap.com/navi/?dest={$vo.longitude},{$vo.latitude}&destName={$vo.nickname} 在 {$vo.time} 的登陆地点&hideRouteIcon=1&key={$amap}" ><span class="badge badge-success"><li style="margin-right: 5px;" class=" icon-bullhorn" title="新闻详情"></li>新闻详情</span></a>
                                            </case>

                                            <case value="4">
                                                <form style="float: left;" target="userLoginLog{$vo.id}" name='form1' action="{:U('User/userLoginLog')}" method='post'>

                                                <input type='hidden' name="serachKey" value="{$vo.nickname}"/>
                                                    <input type='hidden' name="startTime" value="{$startTime}"/>
                                                    <input type='hidden' name="endTime" value="{$endTime}"/>
                                                    <a  href="javascript:document.form1.submit();" ><span class="badge badge-success"><li style="margin-right: 5px;" class=" icon-list-alt" title="查看登录记录"></li>查看登录</span></a>

                                                </form>
                                            </case>

                                            <default />
                                        </switch>

                                    </td>
                                </tr>
                            </volist>
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="7" style="  text-align: right;">
                                    <div class="pagination"><ul>{$page}</ul></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--弹窗提示框 开始-->
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">提示信息</h3>
    </div>
    <div class="modal-body">
        <p class="error-text" id="dialogMessage">确认禁用该账户？</p>
    </div>
    <div class="modal-footer">
        <button class="btn" id="dialogCancelButton" onclick="dialogCancle()" data-dismiss="modal" aria-hidden="true">取消</button>
        <button  id="dialogEnsureButton" onclick="dialogEnsure()" class="btn btn-danger">确认</button>
    </div>
</div>
<!--弹窗提示框 结束-->

<include file="Pub:footer"/>

<script>

    function showDialog(model,message){

        if(model==1)//对话框模式1 只有确认按钮
        {
            $('#dialogCancelButton').css('display','none');
            $('#dialogEnsureButton').css('background','blue');
            $('#dialogMessage').html(message);

            $('.modal').modal('show').on('shown',function(){
            })
        }
        else if(model==2) //对话框模式2 带有 确认 和 取消 按钮
        {
            $('#myModal').modal('show')
            $('#dialogCancelButton').show();
            $('#dialogEnsureButton').css('background','blue');
            $('#dialogMessage').html(message);

            $('.modal').modal('show').on('shown',function(){
            })
        }
    }

    //对话框 点击 确认 后的操作
    function dialogEnsure()
    {
        $('.modal').modal('hide')
    }

    //对话框 点击 取消 后的操作
    function dialogCancle()
    {
        return false;
    }

    function checkInput(){

        startTime=$("#starTime").val();
        endTime=$("#endTime").val();

        if(startTime==''||endTime=='')
        {
            showDialog(1,'时间不能为空！');
            return false;
        }else
        {
            startTime=new Date(Date.parse(startTime));
            endTime=new Date(Date.parse(endTime));

            if(startTime.getTime()>endTime.getTime())
            {
                showDialog(1,'开始时间早于了截止时间！');
                return false;
            }
        }
    }

    function load()
    {
        //设置 标段名称 提示文字
        $( ".tooltip" ).tooltip();

        $('.textarea_editor').wysihtml5();
    }

    //设置时间选择器的属性
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
        language:"zh-CN",
        todayBtn:"linked"
    });

    //格式化时间
    $('.inputTime').onpropertychange(
            str=$('#starTime').val(),
            str=str.replace('+',' '),
            $('#starTime').val(str),
            str=$('#endTime').val(),
            str=str.replace('+',' '),
            $('#endTime').val(str)
    )



</script>